body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin:0px;
}

li {
    list-style-type: none;
}

header {
    padding-top: 100px;
    padding-bottom: 10px;
    margin-bottom:40px;
    background-image: url(images/tissu.jpg);
    text-decoration:none;
}

header ul li{
    display:inline-block;
    font-family: 'Oswald', sans-serif;
    width:32%;
    text-align: center;
    color:grey;
    margin-top: 100px;
}

header a {
    color:grey;
}

header a:hover{
    color:pink;
}

.moi {
    border-radius:205px;
    margin-top: -80px;
    margin-bottom: -80px;
    margin-right:350px;
    margin-left:350px;
    width:160px;
    height: 160px;   
}

footer {
    background-image: url(images/tissu.jpg);
    margin-top:300px;
    padding-top: 15px;
    padding-bottom:15px;
    text-decoration:none;    
}
    
footer a {
    display:inline-block;
    color:grey;
    font-family: 'Oswald', sans-serif;
    width:32%;
    text-align:center;

}

p { 
    
    border-style: dashed;
    border-color: pink;
    font-size: 28px;
    color:grey;
    text-align: center;
    padding: 10px 40px 10px 40px;
    margin: 0px 85px 0px 85px;
}


p2 { 
    font-size:30px;
    text-align:center;
    color:grey;
}

h1 { 
    text-align: center;
    font-size: 45px;
    color:grey;
}

h2 { 
     margin-left:25px;
     margin-bottom: 30px;
     padding-top: 50px;
     text-align: center
}

.hire {
    padding: 0px;
    margin-top:30px;
    margin-left: 350px;
    margin-right:350px;
    margin-bottom: 120px;
}

.nom {
    margin:-10px;
    padding-bottom:0px;
    padding-left: 4px;
    margin-left: 130px;
    margin-right:90px;
    font-size: 25px;  
    border-bottom: 5px solid pink;
}

.statut { 
    margin:-50px;
    padding-bottom:-100px;
    margin-top:10px;
    margin-left:550px;
    font-size: 25px;    
}
    
. details {
    color:pink;
    padding-top:0px;
}


.formation { 
    background-image: url(images/tissu.jpg);
    color:grey;
    text-align:center;
    border-style: dashed;
    border-color:pink;
    border-radius:8px;
    padding: 10px 40px 10px 40px;
    margin: 0px 85px 0px 85px;
}

.parcours {
    background-image: url(images/tissumodif.jpg);
    text-align:center;
    border-style: dashed;
    border-color:pink;
    border-radius:8px;
    padding: 10px 40px 10px 40px;
    margin: 0px 85px 0px 85px;
}
    

.langues {
    background-image: url(images/tissu.jpg);
    color:grey;
    text-align:center;
    border-style: dashed;
    border-color:pink;
    border-radius:8px;
    padding: 10px 40px 10px 40px;
    margin: 0px 85px 0px 85px;
}

.informatique {
    background-image: url(images/tissu.jpg);
    color:grey;
    text-align:center;
    border-style: dashed;
    border-color:pink;
    border-radius:8px;
    padding: 10px 40px 10px 40px;
    margin: 0px 85px 0px 85px;
}

.cercle-competence{
    width:10px;
    height:10px;
    background-color: red;
    display: inline-block;
}

.cercle-competence.on{

}

.cercle-competence.off{
}

.informatique img{
    position:relative;
    top:7px;
}