body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin:0px;
}

ul { 
    margin:0px;
    padding:0px;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:grey;
    text-decoration:none;
}

header li {
    display:inline-block;
    font-family: 'Oswald', sans-serif;
    width:32%;
    text-align: center;
}

header a {
    color: white;
}

header a:hover{
    color:pink;
    padding:10px;
    border-radius:5px
}

footer {
    background-color:grey;
    padding-top:15px;
    padding-bottom:45px
    text-decoration:none;
    
    
}
    
footer a {
    display:inline-block;
    width:15px;
    height:15px;
    color:white;
    font-family: 'Oswald', sans-serif;
    width:32%;
    text-align:center;
}