/* CSS CONTINU */


body {
    font-family: 'Quicksand', sans-serif;
    margin:0px;
}

li {
    list-style-type: none;
    text-decoration:none;
}


header {
    padding-top:100px;
    padding-bottom: 5px;
    margin-bottom:40px;
    background-image: url(images/tissu.jpg);
    text-decoration:none;
}

header ul li{
    font-family: 'Oswald', sans-serif;
    width:23%;
    text-align: center;
    color:grey;
    display:inline-block;
}

.menu{
    margin-top:70px;
}

header a {
    color:grey;
    text-decoration:none;
}

header a:hover{
    color:#FEBFD2;
}

.moi {
    border-radius:50%;
    margin-top: -80px;
    margin-bottom: -65px;
    margin-right:350px;
    margin-left:350px;
    width:160px;
    height: 160px; 
}

footer {
    background-image: url(images/tissu.jpg);
    padding-top:15px;
    padding-bottom:15px;
    text-decoration:none;
    margin-top:70px;
}
    
footer a {
    display:inline-block;
    color:grey;
    width:32%;
    text-align:center;

}

#nom {
    margin-top:-10px;
    padding-bottom:0px;
    padding-left: 4px;
    padding-right: -4px;
    margin-left: 105px;
    margin-right:105px;
    font-size: 22px;  
    border-bottom: 4px solid #FEBFD2;
}

#statut { 
    margin-top:3px;
    font-size: 18px;
    text-align: right;
    padding-right::;px;
}
  


/* Page HOME */ 

.nom{
    margin:50px 300px 20px -185px;
    width:155px;
    height:150px;
    border-radius:50%;
    background-color:#FEBFD2;
    color:white;
    text-align:center;
    font-size:16px;
    overflow:hidden;
    line-height:140px;
    
}

.naissance {
    margin:0px;
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:#FEBFD2;
    color:white;
    text-align:center;
    font-size:16px;
    overflow:hidden;

}

.naissance.multi-line{
    padding-top:42px;
    padding-right: 20px;
    padding-left7px;
    height:150px;
}

.ville {
    margin:20px -185px 20px 300px;
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:#FEBFD2;
    color:white;
    text-align:center;
    font-size:16px;
    overflow:hidden;
    line-height:140px;
}
    




/* Page Compétence */ 

.diplome {
    margin: 50px 40px 70px 40px;
    
}

.titrediplome {
    margin: 50px 20px 50px 20px; 
    padding-bottom: 8px;
    border-bottom: 4px solid #FEBFD2;
}

.cercle1{
    margin:10px 90px 10px 180px;
    width:180px;
    height:180px;
    border-radius:50%;
    background-color:#FD6C9E;
    color:white;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    padding-right: 20px;
    padding-left:-9px;  
    display: inline-block;
    
}

.cercle1.multi-line{
    margin:10px;
    line-height:15px;
    padding-top:60px;
    height:120px;
}


.cercle2{
    margin:10px 90px 10px 100px;
    width:180px;
    height:180px;
    border-radius:50%;
    background-color:#FEBFD2;
    color:white;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    padding-right: 20px;
    padding-left:-7px;  
    display: inline-block;
}

.cercle2.multi-line{
    margin:10px;
    line-height:15px;
    padding-top:50px;
    height:120px;
}




/* Expériences */

.parcours { 
    margin: 50px 40px 70px 40px; 
}

.titreparcours {
    margin: 300px 20px 50px 20px; 
    padding-bottom: 8px;
    border-bottom: 4px solid #FEBFD2;
}

.cercle3{
    margin:10px 20px 10px 180px;
    width:180px;
    height:180px;
    border-radius:50%;
    background-color:#9E9E9E;
    color:white;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    padding-right: 20px;
    padding-left:-7px; 
}

.cercle3.multi-line{
    margin:10px;
    line-height:15px;
    padding-top:52px;
    padding-right: 20px;
    padding-left:-7px;
    height:120px;
}


.cercle3s{
    margin:10px 180px 10px 20px;
    width:180px;
    height:180px;
    border-radius:50%;
    background-color:#D3D3D3;
    color:white;
    text-align:center;
    font-size:14px;
    overflow:hidden;
    padding-right: 20px;
    padding-left:-7px;  
}

.cercle3s.multi-line{
    margin:10px;
    line-height:15px;
    padding-top:60px;
    padding-right: 20px;
    padding-left:-7px;
    height:120px;
}



/* Langues */

.titrelangues {
    margin: 1100px 20px 50px 20px; 
    padding-bottom: 8px;
    border-bottom: 4px solid #FEBFD2;
}

.langues {
    margin: 50px 40px 50px 40px;  
}



/* Informatiques */

.titreinformatique {
    margin: 500px 20px 50px 20px; 
    padding-bottom: 8px;
    border-bottom: 4px solid #FEBFD2;
    
}
.packinfo1 {
    margin: 10px 100px 50px 100px;
    padding:10px 30px 10px 30px;
    border: dotted 2px pink;
    float: left;   
}

.packinfo2 { 
    margin: 10px 100px 50px 100px;
    padding:10px 30px 10px 30px;
    border: dotted 2px pink;  
    float: right;
}


.cercle-competence{
    width:10px;
    height:10px;
    background-color: grey;
    display: inline-block;
    border-radius:50%;
}

.cercle-competence.on{
    background-color:pink;
}

.cercle-competence.off{
background-color:grey;
}

.informatique img{
    position:relative;
    top:8px;
}



/* Loisirs */

.titrecinteret {
    margin: 290px 20px 50px 20px; 
    padding-bottom: 8px;
    border-bottom: 4px solid #FEBFD2;
    
}

.cinteret img {
    padding-right: 30px;
    padding-left:30px; 
}

.cinteret {
    margin: 10px 50px 10px 50px;
    padding:10px 30px 10px 30px;
    border: dotted 2px pink;
}






/* Page Portefolio */

.spiders img{
    margin:30px 60px 90px 60px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px dotted pink;
}


.montage {
    margin:30px 45px 30px 45px;
}




/* Page Contact */ 


.situation {
    display: block;
    border: 2px dotted pink;
    font-size:25px;
    text-align: right;
    margin:90px 230px 90px 230px;
    padding: 80px 50px 85px 50px;
}

.situation img { 
    float: left;
    margin: -25px 0px 10px 5px;
}


.appel {
    display: block;
    border: 2px dotted pink;
    font-size:25px;
    text-align: right;
    margin:90px 230px 90px 230px;
    padding: 80px 50px 85px 50px;
}

.appel img { 
    float: left;  
    margin: -25px 0px 10px 5px;
}


.email {
    display: block;
    border: 2px dotted pink;
    font-size:25px;
    text-align: right;
    margin:90px 230px 90px 230px;
    padding: 80px 50px 85px 50px;
}

.email img { 
    float: left;
    margin: -25px 0px 10px 5px;
}

